<hr class="hide" />
<?php

class Index {
  function Index($selected) {
    $this->_selected = $selected;
    $this->_section_sep = "";
  }

  function head($head) {
    echo $this->_section_sep;
    $this->_section_sep = '<span class="hide">&nbsp;</span>';
    ?><strong class="h2"><?=htmlspecialchars($head)?><span class="hide">:</span></strong>
    <?php
  }

  function entry($text, $url, $title=false) {
    ?><a href="<?=htmlspecialchars($url)?>"<?php
    if ($text == $this->_selected) {
      ?> class="selected"<?php
    }
    if (!$title) {
      $title = $text;
    }
    ?> title="<?=htmlspecialchars($title)?>"><?=htmlspecialchars($text)?></a>
    <?php
  }
}


$i = new Index($SELECTED);
$i->head('Pages');
$i->entry('Home',
	  "http://pyxine.sourceforge.net/",
	  "The Pyxine Home Page");
$i->entry('README',
	  "http://pyxine.sourceforge.net/readme.html",
	  "The README from the latest Pyxine distribution");

$i->head('SourceForge');
$i->entry("Project Info",
	  "http://sourceforge.net/projects/pyxine",
	  "SourceForge project info for Pyxine");
$i->entry("Downloads",
	  "http://sourceforge.net/project/showfiles.php?group_id=73236");
$i->entry("CVS",
	  "http://sourceforge.net/cvs/?group_id=73236",
	  "CVS Repository");

$i->head('Links');
$i->entry("xine",
	  "http://xinehq.de",
	  "The xine home page");
$i->entry("freshmeat",
	  "http://freshmeat.net/projects/pyxine",
	  "The freshmeat listing for Pyxine");
?>
<hr class="hide" />
