body {
  color: black;
  background: #cdf;
  margin: 1ex 0.5em;
  font-family: arial, helvetica, sans-serif;
}
a {
  font-weight: bold;
  text-decoration: none;
}

#body {
  position: relative;
}

#index {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5em;
  height: 100%;
  padding: 0 0.5em;
}
#index h2 {
  font-size: medium;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#index a {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: normal;
  margin: 0.25ex 0;
  padding-left: 0.25em;
}

#main {
  padding: 0.5ex 0.5em 0.5ex 2.25em;
  margin-left: 8.5em;
  color: black;
  background: white; 
}
#main h2 {
  color: black;
  background: #def;
  margin-left: -1em;
  margin-right: 0;
  padding: 0.5ex 0.5em;
}

.newsitem h3 {
  text-decoration: underline;
}
p.signature {
  margin-top: 0;
  margin-left: 5%;
  font-style: oblique;
}

#logos {
  text-align: right;
  margin-top: 1ex;
}
#sflogo {
  float: left;
}
#logos img {
  border: 0;
  width: 88px;
  height: 31px;
}
