body {
  color: black;
  background: #cdf;
  margin: 1ex 1em;
  font-family: arial, helvetica, sans-serif;
}
h1 {
  color: #821;
  background: #cdf;
}
a {
  font-weight: bold;
  text-decoration: none;
}
.hide {
  display: none;
}

#body {
  position: relative;
}

#index {
  position: absolute;
  top: 0;
  left: 0;
  width: 8em;
  height: 100%;
  margin: 0;
  padding: 0;
}
#index strong.h2 {
  color: #821;
  background: #cdf;
  display: block;
  font-size: medium;
  font-weight: bold;
  margin: 0.25ex 0;
  padding: 0;
}
#index a {
  display: block;
  width: 7.75em;
  text-align: left;
  font-weight: normal;
  margin: 0.25ex 0;
  padding: 0 0 0 0.25em;
}
#index a.selected {
  color: #5d3376;
  background: #fff;
}	
#main {
  padding: 0.5ex 0.5em 0.5ex 2.25em;
  margin-left: 8em;
  color: black;
  background: white; 
}
#main h2 {
  color: #821;
  background: #def;
  margin-left: -1em;
  margin-right: 0;
  padding: 0.5ex 0.5em;
}

.newsitem h3 {
  text-decoration: underline;
}
p.signature {
  margin-top: 0;
  margin-left: 5%;
  font-style: oblique;
}

#logos {
  text-align: right;
  margin-top: 1ex;
}
#sflogo {
  float: left;
}
#logos img {
  border: 0;
  width: 88px;
  height: 31px;
}
